/*
	Name: Reset Stylesheet
	Description: Resets browser's default CSS
	Author: Eric Meyer
	Author URI: http://meyerweb.com/eric/tools/css/reset/
*/
/* v1.0 | 20080212 */
@import url(//fonts.googleapis.com/css?family=Dosis|Nova+Square|Source+Code+Pro);
/* line 9, ../../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 27, ../../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 33, ../../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 40, ../../sass/_reset.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 45, ../../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 46, ../../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 49, ../../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../../sass/_pygment.scss */
.hll {
  background-color: #eee;
}

/* line 4, ../../sass/_pygment.scss */
.c {
  color: #408090;
  font-style: italic;
}

/* line 8, ../../sass/_pygment.scss */
.err {
  border: 1px solid #FF0000;
}

/* line 11, ../../sass/_pygment.scss */
.k {
  color: #007020;
  font-weight: bold;
}

/* line 15, ../../sass/_pygment.scss */
.o {
  color: #666666;
}

/* line 18, ../../sass/_pygment.scss */
.cm {
  color: #408090;
  font-style: italic;
}

/* line 22, ../../sass/_pygment.scss */
.cp {
  color: #007020;
}

/* line 25, ../../sass/_pygment.scss */
.c1 {
  color: #408090;
  font-style: italic;
}

/* line 29, ../../sass/_pygment.scss */
.cs {
  background-color: #FFF0F0;
  color: #408090;
}

/* line 33, ../../sass/_pygment.scss */
.gd {
  color: #A00000;
}

/* line 36, ../../sass/_pygment.scss */
.ge {
  font-style: italic;
}

/* line 39, ../../sass/_pygment.scss */
.gr {
  color: #FF0000;
}

/* line 42, ../../sass/_pygment.scss */
.gh {
  color: #000080;
  font-weight: bold;
}

/* line 46, ../../sass/_pygment.scss */
.gi {
  color: #00A000;
}

/* line 49, ../../sass/_pygment.scss */
.go {
  color: #303030;
}

/* line 52, ../../sass/_pygment.scss */
.gp {
  color: #C65D09;
  font-weight: bold;
}

/* line 56, ../../sass/_pygment.scss */
.gs {
  font-weight: bold;
}

/* line 59, ../../sass/_pygment.scss */
.gu {
  color: #800080;
  font-weight: bold;
}

/* line 63, ../../sass/_pygment.scss */
.gt {
  color: #0040D0;
}

/* line 66, ../../sass/_pygment.scss */
.kc {
  color: #007020;
  font-weight: bold;
}

/* line 70, ../../sass/_pygment.scss */
.kd {
  color: #007020;
  font-weight: bold;
}

/* line 74, ../../sass/_pygment.scss */
.kn {
  color: #007020;
  font-weight: bold;
}

/* line 78, ../../sass/_pygment.scss */
.kp {
  color: #007020;
}

/* line 81, ../../sass/_pygment.scss */
.kr {
  color: #007020;
  font-weight: bold;
}

/* line 85, ../../sass/_pygment.scss */
.kt {
  color: #902000;
}

/* line 88, ../../sass/_pygment.scss */
.m {
  color: #208050;
}

/* line 91, ../../sass/_pygment.scss */
.s {
  color: #4070A0;
}

/* line 94, ../../sass/_pygment.scss */
.na {
  color: #4070A0;
}

/* line 97, ../../sass/_pygment.scss */
.nb {
  color: #007020;
}

/* line 100, ../../sass/_pygment.scss */
.nc {
  color: #0E84B5;
  font-weight: bold;
}

/* line 104, ../../sass/_pygment.scss */
.no {
  color: #60ADD5;
}

/* line 107, ../../sass/_pygment.scss */
.nd {
  color: #555555;
  font-weight: bold;
}

/* line 111, ../../sass/_pygment.scss */
.ni {
  color: #D55537;
  font-weight: bold;
}

/* line 115, ../../sass/_pygment.scss */
.ne {
  color: #007020;
}

/* line 118, ../../sass/_pygment.scss */
.nf {
  color: #06287E;
}

/* line 121, ../../sass/_pygment.scss */
.nl {
  color: #002070;
  font-weight: bold;
}

/* line 125, ../../sass/_pygment.scss */
.nn {
  color: #0E84B5;
  font-weight: bold;
}

/* line 129, ../../sass/_pygment.scss */
.nt {
  color: #062873;
  font-weight: bold;
}

/* line 133, ../../sass/_pygment.scss */
.nv {
  color: #BB60D5;
}

/* line 136, ../../sass/_pygment.scss */
.ow {
  color: #007020;
  font-weight: bold;
}

/* line 140, ../../sass/_pygment.scss */
.w {
  color: #BBBBBB;
}

/* line 143, ../../sass/_pygment.scss */
.mf {
  color: #208050;
}

/* line 146, ../../sass/_pygment.scss */
.mh {
  color: #208050;
}

/* line 149, ../../sass/_pygment.scss */
.mi {
  color: #208050;
}

/* line 152, ../../sass/_pygment.scss */
.mo {
  color: #208050;
}

/* line 155, ../../sass/_pygment.scss */
.sb {
  color: #4070A0;
}

/* line 158, ../../sass/_pygment.scss */
.sc {
  color: #4070A0;
}

/* line 161, ../../sass/_pygment.scss */
.sd {
  color: #4070A0;
  font-style: italic;
}

/* line 165, ../../sass/_pygment.scss */
.s2 {
  color: #4070A0;
}

/* line 168, ../../sass/_pygment.scss */
.se {
  color: #4070A0;
  font-weight: bold;
}

/* line 172, ../../sass/_pygment.scss */
.sh {
  color: #4070A0;
}

/* line 175, ../../sass/_pygment.scss */
.si {
  color: #70A0D0;
  font-style: italic;
}

/* line 179, ../../sass/_pygment.scss */
.sx {
  color: #C65D09;
}

/* line 182, ../../sass/_pygment.scss */
.sr {
  color: #235388;
}

/* line 185, ../../sass/_pygment.scss */
.s1 {
  color: #4070A0;
}

/* line 188, ../../sass/_pygment.scss */
.ss {
  color: #517918;
}

/* line 191, ../../sass/_pygment.scss */
.bp {
  color: #007020;
}

/* line 194, ../../sass/_pygment.scss */
.vc {
  color: #BB60D5;
}

/* line 197, ../../sass/_pygment.scss */
.vg {
  color: #BB60D5;
}

/* line 200, ../../sass/_pygment.scss */
.vi {
  color: #BB60D5;
}

/* line 203, ../../sass/_pygment.scss */
.il {
  color: #208050;
}

/* line 13, ../../sass/main.scss */
body {
  background-color: #ffffff;
  font-family: "Georgia","serif";
  color: #777777;
  line-height: 1.4em;
  font-size: 16px;
}

/* line 21, ../../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font: normal 1.8em/1.38 Dosis-Bold;
  margin: 0.75em 2em 0.25em 2em;
  text-align: center;
}
/* line 25, ../../sass/main.scss */
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active, h2 a:link, h2 a:visited, h2 a:hover, h2 a:active, h3 a:link, h3 a:visited, h3 a:hover, h3 a:active, h4 a:link, h4 a:visited, h4 a:hover, h4 a:active, h5 a:link, h5 a:visited, h5 a:hover, h5 a:active, h6 a:link, h6 a:visited, h6 a:hover, h6 a:active {
  text-decoration: none;
  color: #777777;
}

/* line 31, ../../sass/main.scss */
h1, h2, h3, h4 {
  border-bottom: 1px solid #EEE;
  padding-bottom: 0.3em;
  letter-spacing: 0.2em;
}

/* line 37, ../../sass/main.scss */
p {
  margin: 0.5em auto;
}

/* line 41, ../../sass/main.scss */
h1 {
  font-size: 3em;
}

/* line 42, ../../sass/main.scss */
h2 {
  font-size: 2em;
}

/* line 43, ../../sass/main.scss */
h3 {
  font-size: 1.8em;
}

/* line 44, ../../sass/main.scss */
h4 {
  font-size: 1.2em;
  border-bottom: none;
}

/* line 49, ../../sass/main.scss */
ul {
  list-style: disc inside none;
}

/* line 53, ../../sass/main.scss */
a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  color: #777777;
}

/* line 58, ../../sass/main.scss */
header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  position: relative;
}

/* line 62, ../../sass/main.scss */
main-section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

/* line 64, ../../sass/main.scss */
.highlight {
  background-color: #EEE;
  font-size: 0.8em;
  line-height: 1.2em;
  overflow-x: scroll;
  padding: 1em 0;
}
/* line 71, ../../sass/main.scss */
.highlight pre {
  font-family: 'Source Code Pro', 'monospace';
}

/* line 76, ../../sass/main.scss */
cover-section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 500px;
  background: no-repeat top url("/theme/images/cover.jpg");
  background-size: cover;
  position: relative;
}

/* line 97, ../../sass/main.scss */
site-name {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  padding-left: 11%;
  bottom: 0;
  position: absolute;
  font-family: 'Nova Square', cursive;
  font-size: 4em;
  color: cornflowerblue;
  padding-bottom: 1em;
}

/* line 108, ../../sass/main.scss */
nav-section {
  position: relative;
  float: left;
  width: 60%;
  left: 20%;
  right: 20%;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  margin: 20px auto;
  letter-spacing: 0.2em;
}
/* line 121, ../../sass/main.scss */
nav-section ul {
  list-style-type: none;
  margin: 0.4em 0;
  padding: 0;
}
/* line 126, ../../sass/main.scss */
nav-section li {
  display: inline;
  margin: 0.4em;
}

/* line 133, ../../sass/main.scss */
blog-owner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  font: normal 1em/1.38 Dosis-Bold;
  overflow-x: hidden;
}
/* line 137, ../../sass/main.scss */
blog-owner img {
  max-width: 50%;
}
/* line 140, ../../sass/main.scss */
blog-owner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 148, ../../sass/main.scss */
articles {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}
