{{ define "main" }}
<header class="main-header post-head{{ if not .Params.cover }} no-cover{{ end }}"{{ if .Params.cover }} style="background-image: url({{ .Params.cover }})"{{ end }}>
  <nav class="main-nav overlay clearfix">
    {{ if .Site.Params.Author.gravatar_email }}
    <a class="blog-logo" href="{{ "/" | relURL }}">
      <img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.Author.gravatar_email }}?size=38" alt="{{ .Site.Title }}">
    </a>
    {{ end }}
    {{ if .Site.Params.navigation }}
    <a class="menu-button icon-menu" href="#">
      <span class="word">Menu</span>
    </a>
    {{ end }}
  </nav>
</header>

<main class="content" role="main">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <section class="post-meta">
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format .Site.Params.date_format }}
        </time>
        {{ if .Params.tags }}
        on {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}<a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}/">{{ $tag }}</a>{{ end }}
        {{ end }}
      </section>
    </header>

    <section class="post-content">
      {{ .Content }}
    </section>

    <footer class="post-footer">
      <figure class="author-image">
        <a class="img" href="{{ "/author/" | relURL }}" style="background-image: url(https://www.gravatar.com/avatar/{{ md5 $.Site.Params.Author.gravatar_email }}?size=150)">
          <span class="hidden">{{ .Site.Params.Author.name }}'s Picture</span>
        </a>
      </figure>
      
      <section class="author">
        <h4><a href="{{ "/author/" | relURL }}">{{ .Site.Params.Author.name }}</a></h4>
        {{ with .Site.Params.Author.bio }}
        <p>{{ . }}</p>
        {{ else }}
        <p>
          Read <a href="{{ "/author/" | relURL }}">more posts</a> by this author.
        </p>
        {{ end }}
        
        {{ if or .Site.Params.Author.location .Site.Params.Author.website }}
        <div class="author-meta">
          {{ with .Site.Params.Author.location }}
          <span class="author-location"><i class="fas fa-map-marker-alt"></i> {{ . }}</span>
          {{ end }}
          {{ with .Site.Params.Author.website }}
          <span class="author-link"><i class="fas fa-link"></i> <a href="{{ . }}">{{ . }}</a></span>
          {{ end }}
        </div>
        {{ end }}
      </section>

      <section class="share">
        <h4>Share this post</h4>
        <a class="icon-twitter share-link" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" data-width="550" data-height="235">
          <i class="fab fa-twitter"></i>
          <span class="hidden">Twitter</span>
        </a>
        <a class="icon-facebook share-link" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" data-width="580" data-height="296">
          <i class="fab fa-facebook-f"></i>
          <span class="hidden">Facebook</span>
        </a>
      </section>

      <section class="comments">
        {{ template "_internal/disqus.html" . }}
      </section>
    </footer>
  </article>
  
  {{ partial "read-next.html" . }}
</main>
{{ end }}
