<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Summary | default .Site.Params.Description }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Params.cover }}
<meta property="og:image" content="{{ .Params.cover | absURL }}">
{{ end }}
{{ if .IsPage }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
{{ end }}
