<header class="site-header">
  <div class="wrapper">
    <div class="site-header__avatar">
      <% link_to "http://aaronromeo.com" do %>
        <%= image_tag "aaronromeo.png" %>
      <% end %>
    </div>

    <div class="site-header__copy">
      <h1><%= link_to "aaronromeo.com", "http://aaronromeo.com" %></h1>
    </div>
  </div>
</header>
