// Screen
// ======

@import "reset";
@import "grids";
@import "pygment";
@import "compass/css3/flexbox";
@import url(//fonts.googleapis.com/css?family=Dosis|Nova+Square|Source+Code+Pro);

$base-text-colour: #EEE;
$header-text-colour: rgb(119, 119, 119);

body {
    background-color: #ffffff;
    font-family: "Georgia","serif";
    color: $header-text-colour;
    line-height: 1.4em;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font: normal 1.8em/1.38 Dosis-Bold;
    margin: 0.75em 2em 0.25em 2em;
    text-align: center;
    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: $header-text-colour;
    }
}

h1,h2,h3,h4 {
    border-bottom: 1px solid $base-text-colour;
    padding-bottom: 0.3em;
    letter-spacing: 0.2em;
}

p {
    margin: 0.5em auto;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 {
    font-size: 1.2em;
    border-bottom: none;
}

ul {
    list-style: disc inside none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: $header-text-colour;
}

header {
    @include span(10 of 10 no-gutters);
    position:relative;
}
main-section { @include span(10 of 10); }

.highlight {
    // @include span(6 at 2 of 6);
    background-color: $base-text-colour;
    font-size: 0.8em;
    line-height: 1.2em;
    overflow-x: scroll;
    padding: 1em 0;
    pre {
        font-family: 'Source Code Pro', 'monospace';
    }
}

cover-section {
    @include span(10 of 10);
    min-height: 500px;
    // background-image: url("/theme/images/cover.jpg");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;

    background:
    /* top, transparent red, faked with gradient */
    // linear-gradient(
    //   rgba(0, 0, 0, 0.3) 40%,
    //   rgba(255, 255, 255, 1) 100%
    // ),
    /* bottom, image */
    no-repeat top url('/theme/images/cover.jpg');
    background-size: cover;
    position: relative;

}

site-name {
    @include span(10 of 10);
    @include prefix(1 of 10);
    bottom: 0;
    position: absolute;
    font-family: 'Nova Square', cursive;
    font-size: 4em;
    color: cornflowerblue;
    padding-bottom: 1em;
}

nav-section {
    // @include span(5 of 10);
    position:relative;
    float: left;
    width: span(6 of 10);
    left: span(2 of 10);
    right: span(2 of 10);

    border-top: 1px solid $base-text-colour;
    border-bottom: 1px solid $base-text-colour;
    margin: 20px auto;
    letter-spacing: 0.2em;

    ul {
        list-style-type: none;
        margin: 0.4em 0;
        padding: 0;
    }
    li {
        display: inline;
        margin: 0.4em;
    }

}

blog-owner {
    @include span(2 of 10 .25 fluid);
    font: normal 1em/1.38 Dosis-Bold;
    overflow-x: hidden;
    img {
        max-width: 50%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

articles {
    @include span(6 of 10 .25 fluid);
    // @include prefix(1 of 10);
}
