body {
  background-color: #ffffff;
  font-size: 1em;
}

.header-background a {
  display: block;
  float: left;
}

.header-background h1 {
  position: relative;
  float: left;
  width: 30%;
  margin-top: 50px;
  padding: 5px;
}

.header-background h1 a {
  font: normal 1.4em/1.38 Dosis-Bold;
  color: #d9c9b2;
}

.header-background h1 a:hover {
  color: #c06846;
}

header {
  position: relative;
  float: left;
  width: 100%;
  height: 249px;
  background-color: rgba(255, 255, 255, 0);
}

.header-background img {
  display: block;
  float: left;
  width: 100%;
  max-width: 240px;
  height: auto;
  overflow: hidden;
}

.header-background li,
.header-background ul {
  float: left;
  width: 100%;
}

.header-background li a {
  min-height: 51px;
  border-bottom: 1px solid #bf6d4a;
  font: 400 1em/3 Dosis;
  color: #bf6d4a;
}

.header-background nav {
  float: left;
  width: 40%;
  margin: 50px 0 0 5%;
}

section {
  float: left;
  clear: both;
  width: 80%;
  height: 126px;
  margin-left: 10%;
}

.avatar {
  float: left;
  width: 25%;
  height: 246px;
}

.header-background {
  float: left;
  width: 100%;
  height: 120px;
  background-color: #38353d;
}
